// color variants
@import 'themes-vars.module.scss';

// Custom Scroll Bar

.other-scrollbar::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.other-scrollbar::-webkit-scrollbar-track {
	background: $background;
}
::-webkit-scrollbar-track {
	background: $background;
}

/* Handle */
.other-scrollbar::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

/* Handle on hover */
.other-scrollbar::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}
::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}

.shadow-img-menu {
	box-shadow: 10.8px 10.6px 15.3px rgba(0, 0, 0, 0.01), 36.2px 35.7px 51.4px rgba(230, 5, 5, 0.029), 162px 160px 230px rgba(0, 0, 0, 0.04);
}

.cardItemCarousel {
	display: grid !important;
	grid-template-columns: repeat(auto-fill, minmax(20%, 23%));
	place-items: start;
	justify-content: space-around;
	gap: 15;
	padding-block: 3%;
}

.slick-prev,
.slick-next {
	color: black !important;
	background-color: $paper !important;
	padding-inline: 15px !important;
	padding-block: 15px !important;
	border: 1px solid black !important;
}

.slick-prev {
	left: 1% !important;
}

.slick-next {
	right: 1% !important;
}

.slick-next::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 20% !important;
	inset-block: 30% !important;
}

.slick-prev::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 40% !important;
	inset-block: 30% !important;
}

.primary-button {
	color: white;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 0.05rem;
	border: 1px solid $darkPaper;
	padding: 0.5rem 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %230a369d /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-color: $darkPaper;
	background-size: 200%;
	background-position: 200%;
	background-repeat: no-repeat;
	transition: 0.3s ease-in-out;
	transition-property: background-position, border, color;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;
}

.primary-button:hover {
	border: 1px solid $primaryMain;
	color: white;
	background-position: 40%;
}

.primary-button:before {
	content: '';
	position: absolute;
	background-color: $darkPaper;
	width: 0.2rem;
	height: 0.2rem;
	top: -1px;
	left: -1px;
	transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
	background-color: white;
}

.primary-button:hover:after {
	background-color: white;
}

.primary-button:after {
	content: '';
	position: absolute;
	background-color: $primaryMain;
	width: 0.3rem;
	height: 0.3rem;
	bottom: -1px;
	right: -1px;
	transition: background-color 0.15s ease-in-out;
}

.button-borders {
	margin-top: 40px;
	position: relative;
	width: fit-content;
	height: fit-content;
}

.button-borders:before {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	top: -0.3em;
	border: 1px solid $darkPaper;
	border-bottom: 0px;
	/* opacity: 0.3; */
}

.button-borders:after {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	bottom: -0.3em;
	border: 1px solid $darkPaper;
	border-top: 0px;
	/* opacity: 0.3; */
	z-index: 0;
}

.shape {
	fill: $primaryMain;
}

.ant-radio-group {
	.ant-radio-button-wrapper {
		background-color: #fff;
	}
	.ant-radio-button-wrapper-checked {
		background-color: $primaryLight !important;
		color: $grey900 !important;
	}
}

.priceUnderline::before {
	content: '';
	background-color: red;
	border-top: 1px solid red;
}

.shadow-menu-subcategory {
	box-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.004), 3.4px 3.4px 3.5px rgba(0, 0, 0, 0.006), 5.8px 5.8px 5.9px rgba(0, 0, 0, 0.008), 8.7px 8.7px 8.9px rgba(0, 0, 0, 0.009),
		12.5px 12.5px 12.8px rgba(0, 0, 0, 0.01), 17.7px 17.7px 18.1px rgba(0, 0, 0, 0.011), 25.1px 25.1px 25.6px rgba(0, 0, 0, 0.012), 36.5px 36.5px 37.2px rgba(0, 0, 0, 0.014),
		56.3px 56.3px 57.4px rgba(0, 0, 0, 0.016), 100px 100px 102px rgba(0, 0, 0, 0.02);
}

.hoverProductSearching:hover {
	cursor: pointer;
	background-color: #c8d2de;
}

.hoverProductSearching:hover #titleProductSearch {
	color: $primaryMain;
}

.shadow-cart-cards {
	box-shadow: 1.6px 1.6px 0.6px rgba(0, 0, 0, 0.006), 3.4px 3.4px 1.3px rgba(0, 0, 0, 0.009), 5.8px 5.8px 2.1px rgba(0, 0, 0, 0.011), 8.7px 8.7px 3.2px rgba(0, 0, 0, 0.013),
		12.5px 12.5px 4.6px rgba(0, 0, 0, 0.015), 17.7px 17.7px 6.6px rgba(0, 0, 0, 0.017), 25.1px 25.1px 9.3px rgba(0, 0, 0, 0.019), 36.5px 36.5px 13.5px rgba(0, 0, 0, 0.021),
		56.3px 56.3px 20.8px rgba(0, 0, 0, 0.024), 100px 100px 37px rgba(0, 0, 0, 0.03);
}

.shadow-card-payment {
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.visa-bg-card {
	background-image: radial-gradient(circle at center center, $visaColor, $visaColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $visaColor, 80px, $primaryDark 192px, $visaColor 71px);
	background-blend-mode: multiply;
	background-color: $visaColor;
}

.mc-bg-card {
	background-image: radial-gradient(circle at center center, $mastercardColor, $mastercardColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $mastercardColor, 80px, $mastercardColorLight 192px, $mastercardColor 71px);
	background-blend-mode: multiply;
	background-color: $mastercardColor;
}

.amex-bg-card {
	background-image: radial-gradient(circle at center center, $amexColor, $amexColor),
		repeating-radial-gradient(circle at center bottom, $amexColor, $amexColor, 80px, $amexColorLight 192px, $amexColor 71px);
	background-blend-mode: multiply;
	background-color: $amexColor;
}

.default-bg-card {
	background-image: radial-gradient(circle at center center, $grey600, $grey600), repeating-radial-gradient(circle at center bottom, $grey500, $grey500, 80px, $grey600 192px, $grey500 71px);
	background-blend-mode: multiply;
	background-color: $grey600;
}

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

/*HOME STYLES*/
.home-section {
	overflow: hidden;
	width: 100%;
	> h3 {
		margin-top: 3%;
		padding-left: 2%;
	}
}

.newsletter-section {
	max-width: 45%;
	align-items: center;
	align-self: center;
	text-align: center;
	gap: 10px;
	padding-bottom: 2%;

	> h2 {
		font-weight: 400;
	}

	> span {
		font-size: 1.1rem;
	}

	> div {
		margin-top: 20px;
	}
}

/*BASIC CARD PRODUCT STYLES*/
.basic-card-product {
	width: 100%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	box-shadow: 5.9px 4.6px 10px rgba(0, 0, 0, 0), 47px 37px 80px rgba(0, 0, 0, 0);
	background-color: $background;
}

.skeleton-img-product {
	height: 100%;
	min-height: 350px;
	width: 100%;
	min-width: 350px;
}

.image-product-card {
	height: 100%;
	max-height: 350px;
	min-height: 350px;
	width: 100%;
	max-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	> img {
		height: 100%;
		max-height: 340px;
		width: 100%;
		object-fit: contain;
	}
}

.info-product-card {
	background-color: $paper;
	align-items: center;
	width: 100%;
	height: 100%;
	align-self: end;
	> div {
		padding-block: 5%;
		align-self: start;
		width: 100%;
		h5 {
			font-weight: 500;
			font-style: italic;
			padding: 0;
			margin: 0;
			width: fit-content;
		}
	}
	.rate-product-card {
		display: flex;
		align-items: end;
		width: fit-content;
		z-index: 5;
		cursor: default;
		pointer-events: fill;
		justify-content: center;
		flex-direction: row;
	}
	.price-product-card {
		background-color: $paper;
		align-self: start;
		padding-block: 1.5%;
	}
}

/*PROMO BANNER STYLES*/
.promo-banner {
	margin-top: 70px;
	width: 100%;
	position: relative;
	.left-side {
		display: flex;
		flex-direction: column;
		align-self: end;
		> div {
			padding-inline: 10%;
			padding-bottom: 15%;
			h2 {
				color: $paper;
				font-size: 3.5rem;
				text-transform: uppercase;
				line-height: 0.7;
			}
			span {
				color: $paper;
				font-size: 1.1rem;
				line-height: 1.2;
			}
		}
	}
	.right-side {
		align-self: start;
		> div {
			position: relative;
			gap: 0;
			margin: 0;
			padding: 0;
			padding-inline: 7%;
			width: 100%;
			padding-top: 35%;
			> span {
				width: fit-content;
				line-height: 1;
				color: $paper;
				text-transform: uppercase;
			}
			> span:nth-child(1) {
				font-size: 3rem;
			}
			> span:nth-child(2) {
				font-size: 9rem;
				align-self: center;
			}
			> span:nth-child(3) {
				font-size: 3rem;
				align-self: end;
			}
		}
	}
}

.promo-banner-default {
	max-height: 700;
	height: 700;
}

.promo-banner-inCategory {
	max-height: 500;
	height: 500;
}

/*SHOES BY GENDER STYLES*/
.shoes-by-gender {
	margin-top: 50px;
	padding-inline: 10%;
	padding-bottom: 7%;
	> div {
		padding-block: 3%;
		width: 100%;
		align-items: start;
		justify-content: space-around;
		row-gap: 60px;
	}
}

/*BIG CARD PRODUCT STYLES*/
.big-card-item {
	position: relative;
	background-color: $paper;
	min-height: 310px;
	height: 100%;
	width: 100%;
	max-width: 40%;
	border: 2px solid;
	border-color: $paper;
	cursor: pointer;
	padding: 10px;

	> .rating-container {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		border-left-width: 0;
		background-color: $paper;
	}

	> div > img {
		width: 100%;
		max-height: 400px;
	}

	> .big-card-info-container {
		.big-card-title {
			min-height: max-content;
			height: 100%;
			background-color: $paper;
			padding-block: 3%;
			h5 {
				font-weight: 500;
				font-style: italic;
				padding: 0;
				margin: 0;
				width: fit-content;
			}
		}
	}

	> .big-card-price-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.big-card-oldprice {
		position: absolute;
		top: 55%;
		left: 15%;
		background-color: $background;
		padding-inline: 10px;
		padding-bottom: 5px;
		padding-top: 20px;
		> span {
			position: relative;
			font-size: 0.9rem;
			font-style: italic;
			> .underline-old-price {
				position: absolute;
				width: 200%;
				background-color: $errorDark;
				height: 0.5px;
				top: 45%;
				left: -50%;
				transform: translateY(-50%);
			}
		}
	}

	.big-card-price {
		position: absolute;
		top: 32%;
		right: 10%;
		background-color: $paper;
		padding-inline: 10px;
		padding-block: 5px;
		border: 1px solid;
		border-color: $background;
		font-weight: 600;
		font-size: 1.1rem;
	}
}

/*PORTRAIT BANNER STYLES*/
.portrait-banner {
	margin-top: 10px;
	width: 100%;
	align-items: start;
	justify-content: space-around;
	padding-inline: 10%;
	padding-bottom: 5px;
	> .per-banner {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	> .per-banner > .portrait-banner-info {
		flex: none;
		justify-content: space-between;
		height: max-content;
	}
}

/*CATEGORY STYLES*/
.main-category {
	width: 100%;
	position: relative;
	padding-left: 4%;
	min-height: 100vh;
	> h1 {
		margin-block: 50px;
		position: sticky;
		top: 8%;
		width: 100%;
		z-index: 1;
		background-color: $paper;
		padding-bottom: 10px;
	}
	> div {
		justify-content: space-around;
		width: 100%;
		> .list-products-container {
			width: 80%;
			gap: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-self: end;
			top: 0;
			justify-self: end;
			> .load-more-container {
				grid-column: span 3;
				justify-content: center;
			}
			> .banner-container-category {
				grid-column: span 3;
			}
		}
		> .list-products-skeleton-container {
			width: 82%;
			gap: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-self: end;
			position: sticky;
			top: 8%;
			margin-top: 0;
			padding-right: 5%;
		}
	}
}

.aside-menu-category {
	position: sticky;
	top: 20%;
	width: 100%;
	height: 100%;
	min-height: 50vh;
	max-height: 70vh;
	z-index: 1;
	max-width: 14%;
	background-color: $background;
	padding: 1%;
	row-gap: 20px;
	overflow-y: auto;
	padding-block: 30px;
	> div > .submenu-category-container {
		align-items: center;
		justify-content: space-between;
		> h5 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.divider-aside-menu-category {
	margin: 0;
	margin-bottom: 10px;
	background-color: $primaryMain;
	width: 100%;
}

/*PRODUCT STYLES*/
.product-page {
	min-height: 100vh;
	height: 100%;
	padding-top: 4%;
	padding-inline: 2%;
	> .product-info-container {
		width: 100%;
		justify-content: space-between;
		position: relative;
		height: max-content;
		min-height: 75vh;
		> .product-image-container {
			max-width: 30%;
			width: 100%;
			position: sticky;
			top: 10%;
			height: fit-content;
			.product-image-preview {
				max-height: 50px;
				max-width: 50px;
				cursor: pointer;
				border-width: 1px;
				border-style: solid;
				border-color: $background;
				img {
					width: 50px;
					object-fit: contain;
					height: 50px;
				}
			}
			.product-image-carousel {
				max-height: 500px;
				img {
					width: auto;
					object-fit: contain;
					height: 500px;
				}
			}
		}
		> .product-info {
			max-width: 40%;
			width: 100%;
			> h3,
			> h5 {
				margin: 0;
			}
			> h5 {
				color: $primaryMain;
				font-style: italic;
				font-weight: 600;
			}
			> .info-dimensions-product {
				margin-top: 50px;
				gap: 50px;
				> div {
					align-items: center;
					width: auto;
					justify-content: center;
					position: relative;
					> svg {
						width: 80%;
					}
					> span {
						position: absolute;
						transform: translate(-50%, -50%);
						font-weight: 400;
					}
					> span:nth-child(2) {
						top: 40%;
						left: 80%;
					}
					> span:nth-child(3) {
						top: 80%;
						left: 70%;
					}
					> span:nth-child(4) {
						top: 80%;
						right: 70%;
					}
				}
			}
			> .info-codes-product {
				margin-top: 50px;
				> div {
					justify-content: space-between;
					margin-top: 40px;
				}
				> :last-child {
					font-size: 0.8rem;
				}
			}
		}
		> .buy-product-container {
			width: 100%;
			max-width: 20%;
			display: inline-block;
			position: sticky;
			top: 10%;
			height: fit-content;
			> .buy-product-price-container {
				gap: 30px;
				> .btns-payment-container {
					gap: 10px;
					> :first-child {
						align-items: center;
						gap: 10px;
					}
				}
			}
			.total-sold {
				justify-content: space-between;
				margin-bottom: 10px;
				> :first-child {
					align-items: center;
				}
			}
			.buy-product-price {
				align-items: center;
				width: 100%;
				> h3 {
					margin: 0;
					color: $grey200;
					background-color: $primaryMain;
					padding-block: 3%;
					padding-left: 5%;
					padding-right: 13%;
				}
				> span {
					margin: 0;
					font-size: 1.1rem;
					width: max-content;
					background-color: $grey200;
					padding-block: 2%;
					padding-inline: 5%;
					translate: -20% 0;
				}
			}
			> .guarantees-product-container {
				div {
					gap: 10px;
				}
			}
			> .payment-methods-product-container {
				div {
					> span {
						font-weight: 600;
					}
					> div {
						flex-wrap: wrap;
						gap: 10px;
						img {
							width: 45px;
						}
					}
				}
			}
		}
	}
	> .related-products-container {
		width: 100%;
		overflow: hidden;
		padding-inline: 5%;
		> h3 {
			margin-bottom: 3%;
			padding-left: 2%;
		}
	}
	> .customer-reviews-container {
		padding-inline: 5%;
		padding-bottom: 5%;
		> div {
			position: relative;
			width: 100%;
			padding-inline: 5%;
			> .global-rating-container {
				background-color: $primaryMain;
				color: $background;
				padding: 2.5%;
				gap: 15px;
				padding-right: 5%;
				height: min-content;
				> :first-child {
					gap: 20px;
					align-items: center;
					color: $background;
					> h1 {
						margin: 0;
						color: inherit;
					}
					> div {
						align-items: center;
						gap: 5px;
						ul {
							color: inherit;
							font-size: 0.9rem;
						}
						span {
							font-size: 0.8rem;
							color: inherit;
						}
					}
				}
				> :last-child {
					gap: 5px;
					> div {
						align-items: center;
						gap: 10px;
						> :first-child {
							align-items: center;
							gap: 4px;
							span {
								font-size: 0.8rem;
								color: inherit;
							}
						}
					}
				}
			}
			> .featured-reviews-container {
				background-color: $grey200;
				padding-inline: 4%;
				padding-block: 2%;
				translate: -5% 15%;
				max-width: 70%;
				width: 100%;
				gap: 20px;
				> div {
					gap: 2px;
					> .review-header {
						align-items: center;
						justify-content: space-between;
						ul {
							font-size: 0.8rem;
						}
						span {
							font-size: 0.8rem;
						}
					}
					> .review-info-user {
						align-items: center;
						gap: 5px;
					}
					> .review-comment {
						margin: 0;
						margin-top: 2%;
					}
					> :last-child {
						margin: 0;
						margin-block: 1.5%;
					}
				}
			}
		}
	}
	> :last-child {
		padding-inline: 5%;
	}
}

/*CART STYLES*/
.cart-page {
	padding-block: 4%;
	padding-inline: 8%;
	width: 100%;
	align-items: center;
	justify-content: center;
	> :first-child {
		width: 100%;
		justify-content: space-between;
		> .list-cart-container {
			width: 100%;
			max-width: 70%;
			background-color: $grey200;
			padding: 1.5%;
		}
		.product-inside-cart-container {
			width: 100%;
			gap: 20px;
			justify-content: space-between;
			border-bottom: 1px solid $grey400;
			padding-block: 4%;
			img {
				max-height: 200px;
				width: 100%;
				object-fit: contain;
			}
			> .product-details {
				width: 100%;
				justify-content: space-between;
				> :first-child {
					margin-block: 5px;
					h5 {
						margin: 0;
					}
					span {
						font-size: 0.8rem;
						font-style: italic;
					}
				}
				> .description-product {
					margin-block: 15px;
				}
				> .product-actions {
					margin-top: 20px;
					gap: 10px;
					align-items: center;
					> :first-child {
						width: 130px;
					}
					> a {
						font-size: 0.8rem;
					}
				}
			}
			> :last-child {
				span {
					font-weight: bold;
					word-break: keep-all;
				}
			}
		}
		> .summary-cart-container {
			width: 100%;
			max-width: 25%;
			background-color: $primaryMain;
			height: fit-content;
			padding: 1.5%;
			color: $paper;
			position: sticky;
			top: 10%;
			> div {
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				> h5,
				> span {
					color: inherit;
					margin: 0;
				}
			}
			> .sumary-cart-total {
				padding-block: 5%;
				h2 {
					margin: 0;
					color: inherit;
				}
			}
			> .promo-code-container {
				border: none;
				color: $background !important;
				& > .ant-collapse-item {
					> .ant-collapse-header {
						padding: 0;
						color: $grey400;
					}
					> .ant-collapse-content {
						background-color: $primaryMain;
						border: none;
						> .ant-collapse-content-box {
							padding: 0;
							margin: 0;
							padding-block: 0.5rem;
							display: flex;
							align-items: center;
							column-gap: 10px;
						}
					}
				}
			}
			> button {
				width: 100%;
				margin-top: 15px;
				margin-bottom: 5px;
			}
		}
	}
}

.empty-cart {
	justify-content: center;
	align-items: center;
	height: 100%;
	> img {
		max-height: 110px;
		width: 100%;
		object-fit: contain;
	}
	> span {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

.no-info-overlay {
	width: 100%;
	height: 100%;
	justify-content: start;
	align-items: center;
	gap: 1;
	grid-column: span 3;
}

@keyframes rotateGradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@media screen and (max-width: 576px) {
	.cardItemCarousel {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		place-items: start;
		justify-content: space-around;
		gap: 30px;
		padding-block: 3%;
		padding-inline: 2%;
	}
}
