// color variants
@import 'themes-vars.module.scss';

// Custom Scroll Bar

.other-scrollbar::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.other-scrollbar::-webkit-scrollbar-track {
	background: $background;
}
::-webkit-scrollbar-track {
	background: $background;
}

/* Handle */
.other-scrollbar::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

/* Handle on hover */
.other-scrollbar::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}
::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}

.shadow-img-menu {
	box-shadow: 10.8px 10.6px 15.3px rgba(0, 0, 0, 0.01), 36.2px 35.7px 51.4px rgba(230, 5, 5, 0.029), 162px 160px 230px rgba(0, 0, 0, 0.04);
}

.cardItemCarousel {
	display: grid !important;
	//grid-template-columns: repeat(auto-fill, minmax(20%, 23%));
	grid-template-columns: 1fr 1fr;
	place-items: start;
	justify-content: space-around;
	gap: 15px;
	padding-top: 2%;
	padding-bottom: 4%;
	padding-inline: 4%;
}

.slick-prev,
.slick-next {
	color: black !important;
	background-color: $paper !important;
	padding-inline: 15px !important;
	padding-block: 15px !important;
	border: 1px solid black !important;
}

.slick-prev {
	left: 1% !important;
}

.slick-next {
	right: 1% !important;
}

.slick-next::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 20% !important;
	inset-block: 30% !important;
}

.slick-prev::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 40% !important;
	inset-block: 30% !important;
}

.primary-button {
	color: white;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 0.05rem;
	border: 1px solid $darkPaper;
	padding: 0.5rem 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %230a369d /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-color: $darkPaper;
	background-size: 200%;
	background-position: 200%;
	background-repeat: no-repeat;
	transition: 0.3s ease-in-out;
	transition-property: background-position, border, color;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;
}

.primary-button:hover {
	border: 1px solid $primaryMain;
	color: white;
	background-position: 40%;
}

.primary-button:before {
	content: '';
	position: absolute;
	background-color: $darkPaper;
	width: 0.2rem;
	height: 0.2rem;
	top: -1px;
	left: -1px;
	transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
	background-color: white;
}

.primary-button:hover:after {
	background-color: white;
}

.primary-button:after {
	content: '';
	position: absolute;
	background-color: $primaryMain;
	width: 0.3rem;
	height: 0.3rem;
	bottom: -1px;
	right: -1px;
	transition: background-color 0.15s ease-in-out;
}

.button-borders {
	margin-top: 30px;
	position: relative;
	width: fit-content;
	height: 30px;
}

.button-borders:before {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	top: -0.3em;
	border: 1px solid $darkPaper;
	border-bottom: 0px;
}

.button-borders:after {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	bottom: -0.3em;
	border: 1px solid $darkPaper;
	border-top: 0px;
	/* opacity: 0.3; */
	z-index: 0;
}

.shape {
	fill: $primaryMain;
}

.ant-radio-group {
	.ant-radio-button-wrapper {
		background-color: #fff;
	}
	.ant-radio-button-wrapper-checked {
		background-color: $primaryLight !important;
		color: $grey900 !important;
	}
}

.priceUnderline::before {
	content: '';
	background-color: red;
	border-top: 1px solid red;
}

.shadow-menu-subcategory {
	box-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.004), 3.4px 3.4px 3.5px rgba(0, 0, 0, 0.006), 5.8px 5.8px 5.9px rgba(0, 0, 0, 0.008), 8.7px 8.7px 8.9px rgba(0, 0, 0, 0.009),
		12.5px 12.5px 12.8px rgba(0, 0, 0, 0.01), 17.7px 17.7px 18.1px rgba(0, 0, 0, 0.011), 25.1px 25.1px 25.6px rgba(0, 0, 0, 0.012), 36.5px 36.5px 37.2px rgba(0, 0, 0, 0.014),
		56.3px 56.3px 57.4px rgba(0, 0, 0, 0.016), 100px 100px 102px rgba(0, 0, 0, 0.02);
}

.hoverProductSearching:hover {
	cursor: pointer;
	background-color: #c8d2de;
}

.hoverProductSearching:hover #titleProductSearch {
	color: $primaryMain;
}

.shadow-cart-cards {
	box-shadow: 1.6px 1.6px 0.6px rgba(0, 0, 0, 0.006), 3.4px 3.4px 1.3px rgba(0, 0, 0, 0.009), 5.8px 5.8px 2.1px rgba(0, 0, 0, 0.011), 8.7px 8.7px 3.2px rgba(0, 0, 0, 0.013),
		12.5px 12.5px 4.6px rgba(0, 0, 0, 0.015), 17.7px 17.7px 6.6px rgba(0, 0, 0, 0.017), 25.1px 25.1px 9.3px rgba(0, 0, 0, 0.019), 36.5px 36.5px 13.5px rgba(0, 0, 0, 0.021),
		56.3px 56.3px 20.8px rgba(0, 0, 0, 0.024), 100px 100px 37px rgba(0, 0, 0, 0.03);
}

.shadow-card-payment {
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.visa-bg-card {
	background-image: radial-gradient(circle at center center, $visaColor, $visaColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $visaColor, 80px, $primaryDark 192px, $visaColor 71px);
	background-blend-mode: multiply;
	background-color: $visaColor;
}

.mc-bg-card {
	background-image: radial-gradient(circle at center center, $mastercardColor, $mastercardColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $mastercardColor, 80px, $mastercardColorLight 192px, $mastercardColor 71px);
	background-blend-mode: multiply;
	background-color: $mastercardColor;
}

.amex-bg-card {
	background-image: radial-gradient(circle at center center, $amexColor, $amexColor),
		repeating-radial-gradient(circle at center bottom, $amexColor, $amexColor, 80px, $amexColorLight 192px, $amexColor 71px);
	background-blend-mode: multiply;
	background-color: $amexColor;
}

.default-bg-card {
	background-image: radial-gradient(circle at center center, $grey600, $grey600), repeating-radial-gradient(circle at center bottom, $grey500, $grey500, 80px, $grey600 192px, $grey500 71px);
	background-blend-mode: multiply;
	background-color: $grey600;
}

/*LAYOUT STYLES*/
.main {
	min-height: 100vh;
	position: relative;
	background-color: $paper;
	> .mainContent {
		max-width: 100vw;
		margin-top: 40px;
		height: 100%;
		position: relative;
	}
}

.header {
	background-color: $paper;
	position: fixed;
	top: 0;
	z-index: 50;
	> div {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		position: relative;
		place-items: center;
		> .logo {
			align-items: center;
			img {
				mix-blend-mode: multiply;
				max-width: 15%;
				cursor: pointer;
			}
		}
	}
}

.movile-menu-search-results {
	padding-bottom: 40px;
}

.modal-menu-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $paper;
	max-height: 100vh;
	height: 100%;
	z-index: 50;
	display: flex;
	align-items: center;
	> div {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.titleModalMenu {
		margin-block: 2.5%;
		padding-inline: 2%;
		align-self: start;
	}
	button {
		position: absolute;
		top: 4%;
		right: 4%;
	}
	.modal-menu-list {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 50% 50%;
		position: relative;
		overflow-y: hidden;
		padding-top: 40px;
		gap: 30px;
		> .modal-menu-card-category {
			width: 100%;
			align-self: start;
			align-items: center;
			height: 100%;
			position: relative;
			padding-inline: 3%;
			> h5 {
				cursor: pointer;
				background-color: $background;
				padding-inline: 5%;
				padding-block: 2px;
			}
			> .menu-list-categories {
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 100%;
				justify-items: center;
				row-gap: 10px;
				> span {
					cursor: pointer;
					font-size: 0.9rem;
					background-color: $paper;
				}
			}
		}
	}
}

.movile-menu-list {
	row-gap: 30px;
	width: 100%;
	height: 100%;
	.movile-menu-list-categories {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		position: relative;
		overflow-y: hidden;
		row-gap: 5px;
	}
}

/*HOME STYLES*/
.home-section {
	overflow: hidden;
	width: 100%;
	> h3 {
		margin-top: 3%;
		padding-left: 2%;
	}
}

.image-menu {
	width: 100%;
	padding-block: 10px;
	margin-top: 40px;
	padding-inline: 10%;
	justify-content: space-between;
	row-gap: 20px;
	column-gap: 0;
	flex-wrap: wrap;
	> .image-menu-item {
		position: relative;
		width: 100%;
		min-height: 100px;
		background-size: 100%;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: stretch;
		cursor: pointer;
		> div {
			padding-block: 1.5%;
			padding-inline: 10%;
			background-color: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(5px);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			h5 {
				color: $paper;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
			}
		}
	}
}

.newsletter-section {
	max-width: 100%;
	align-items: center;
	align-self: center;
	text-align: center;
	gap: 10px;
	padding-bottom: 2%;
	> h2 {
		font-weight: 400;
	}
	> span {
		font-size: 1.1rem;
	}
	> div {
		margin-top: 20px;
	}
}

/*BASIC CARD PRODUCT STYLES*/
.basic-card-product {
	width: 100%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	box-shadow: 5.9px 4.6px 10px rgba(0, 0, 0, 0), 47px 37px 80px rgba(0, 0, 0, 0);
	background-color: $background;
}

.skeleton-img-product {
	height: 100%;
	min-height: 350px;
	width: 100%;
	min-width: 350px;
}

.image-product-card {
	height: 100%;
	max-height: 250px;
	min-height: 250px;
	width: 100%;
	max-width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	> img {
		height: 100%;
		max-height: 250px;
		width: 100%;
		object-fit: contain;
	}
}

.info-product-card {
	background-color: $paper;
	align-items: center;
	width: 100%;
	height: 100%;
	align-self: end;
	> div {
		padding-block: 5%;
		align-self: start;
		width: 100%;
		h5 {
			font-weight: 500;
			font-style: italic;
			padding: 0;
			margin: 0;
			width: fit-content;
		}
	}
	.rate-product-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: fit-content;
		z-index: 5;
		cursor: default;
		pointer-events: fill;
		justify-content: center;
	}
	.price-product-card {
		background-color: $paper;
		align-self: start;
		padding-block: 1.5%;
	}
}

/*PROMO BANNER STYLES*/
.promo-banner {
	margin-top: 10px;
	width: 100%;
	position: relative;
	.marquee-promo-banner {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		overflow: hidden;
		width: 100%;
		justify-content: space-between;
		> .marqueElement {
			color: $paper;
			font-size: 1rem;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			word-spacing: 1rem;
		}
		> :last-child {
			padding-right: 60px;
		}
	}
	.left-side {
		display: flex;
		flex-direction: column;
		align-self: start;
		translate: 0 80%;
		.promo-icons {
			width: 1.2rem;
			height: 1.2rem;
		}
		> div {
			padding-inline: 10%;
			padding-bottom: 0%;
			h2 {
				color: $paper;
				font-size: 1.5rem;
				text-transform: uppercase;
				line-height: 0.2;
			}
			span {
				color: $paper;
				font-size: 0.8rem;
				line-height: 1.2;
			}
		}
	}
	.right-side {
		align-self: start;
		> div {
			position: relative;
			gap: 0;
			margin: 0;
			padding: 0;
			padding-inline: 7%;
			width: 100%;
			padding-top: 40%;
			> span {
				width: fit-content;
				line-height: 1;
				color: $paper;
				text-transform: uppercase;
			}
			> span:nth-child(1) {
				font-size: 1.8rem;
			}
			> span:nth-child(2) {
				font-size: 3.4rem;
				align-self: center;
				width: fit-content;
			}
			> span:nth-child(3) {
				font-size: 1.8rem;
				align-self: end;
			}
		}
	}
}

.promo-banner-default {
	max-height: 300px;
	height: 300px;
}

.promo-banner-inCategory {
	max-height: 310px;
	height: 310px;
}

/*SHOES BY GENDER STYLES*/
.shoes-by-gender {
	margin-top: 50px;
	padding-inline: 10%;
	padding-bottom: 15%;
	> div {
		padding-block: 3%;
		width: 100%;
		align-items: start;
		justify-content: space-around;
		row-gap: 60px;
	}
}

/*BIG CARD PRODUCT STYLES*/
.big-card-item {
	position: relative;
	background-color: $paper;
	min-height: 310px;
	height: 100%;
	width: 100%;
	max-width: 80%;
	border: 2px solid;
	border-color: $paper;
	cursor: pointer;
	padding: 10px;

	> .rating-container {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		border-left-width: 0;
		background-color: $paper;
	}

	> div > img {
		width: 100%;
		max-height: 300px;
	}

	> .big-card-info-container {
		.big-card-title {
			min-height: max-content;
			height: 100%;
			background-color: $paper;
			padding-block: 3%;
			h5 {
				font-weight: 500;
				font-style: italic;
				padding: 0;
				margin: 0;
				width: fit-content;
			}
		}
	}

	> .big-card-price-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.big-card-oldprice {
		position: absolute;
		top: 55%;
		left: 15%;
		background-color: $background;
		padding-inline: 10px;
		padding-bottom: 5px;
		padding-top: 20px;
		> span {
			position: relative;
			font-size: 0.9rem;
			font-style: italic;
			> .underline-old-price {
				position: absolute;
				width: 200%;
				background-color: $errorDark;
				height: 0.5px;
				top: 45%;
				left: -50%;
				transform: translateY(-50%);
			}
		}
	}

	.big-card-price {
		position: absolute;
		top: 32%;
		right: 10%;
		background-color: $paper;
		padding-inline: 10px;
		padding-block: 5px;
		border: 1px solid;
		border-color: $background;
		font-weight: 600;
		font-size: 1.1rem;
	}
}

/*PORTRAIT BANNER STYLES*/
.portrait-banner {
	margin-top: 10px;
	width: 100%;
	align-items: start;
	justify-content: space-around;
	padding-inline: 10%;
	padding-bottom: 5px;
	flex-wrap: wrap;
	row-gap: 40px;
	> .per-banner {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		max-width: 40%;
	}
	> .per-banner > .portrait-banner-info {
		flex: none;
		justify-content: space-between;
		height: max-content;
	}
}

/*CATEGORY STYLES*/
.main-category {
	width: 100%;
	position: relative;
	padding-inline: 2% 0%;
	min-height: 100vh;
	> h1 {
		margin-block: 40px 20px;
		position: sticky;
		top: 9%;
		width: 100%;
		z-index: 999;
		background-color: $paper;
		padding-bottom: 10px;
	}
	> div {
		justify-content: space-around;
		width: 100%;
		flex-direction: column;
		> .list-products-container {
			width: 100%;
			column-gap: 10px;
			row-gap: 40px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-self: end;
			top: 0;
			justify-self: end;
			> .load-more-container {
				grid-column: span 2;
				justify-content: center;
			}
			> .banner-container-category {
				grid-column: span 2;
			}
		}
		> .list-products-skeleton-container {
			width: 82%;
			gap: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-self: end;
			position: sticky;
			top: 8%;
			margin-top: 0;
			padding-right: 5%;
		}
	}
}

.aside-menu-category {
	display: none;
	position: sticky;
	top: 20%;
	width: 100%;
	height: 100%;
	min-height: 50vh;
	max-height: 70vh;
	z-index: 1;
	max-width: 14%;
	background-color: $background;
	padding: 1%;
	row-gap: 20px;
	overflow-y: auto;
	padding-block: 30px;
	> div > .submenu-category-container {
		align-items: center;
		justify-content: space-between;
		> h5 {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.movile-menu-category-container {
	position: sticky;
	top: 17%;
	z-index: 999;
	background-color: $paper;
	> .movile-menu-category {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		justify-content: center;
		background-color: inherit;
		margin: 0;
		padding: 0;
		z-index: 999;
	}
	> .movile-menu-price-filter {
		margin-block: 4% 1%;
		font-size: 0.9rem;
		color: $primaryMain;
		font-weight: 500;
		width: fit-content;
		display: flex;
		align-items: center;
		align-self: flex-end;
		transition: color 0.2s ease-in-out, font-weight 0.1s ease-in-out;
		&:hover {
			color: $primaryDark;
			cursor: pointer;
			font-weight: 600;
		}
		.movile-menu-price-filter-dropdown {
			background-color: $primaryMain !important;
			color: white;
			z-index: 999999;
		}
	}
	.movile-menu-price-filter-dropdown {
		background-color: $primaryMain !important;
		color: white;
		z-index: 999999;
	}
}

.divider-aside-menu-category {
	margin: 0;
	margin-bottom: 10px;
	background-color: $primaryMain;
	width: 100%;
}

/*PRODUCT STYLES*/
.product-page {
	min-height: 100vh;
	height: 100%;
	padding-top: 4%;
	padding-inline: 2%;
	> .product-info-container {
		width: 100%;
		justify-content: space-between;
		position: relative;
		height: max-content;
		min-height: 75vh;
		flex-direction: row; // row
		flex-wrap: wrap;
		> .product-image-container {
			max-width: 90%; // 30%;
			width: 100%;
			position: relative; // sticky;
			//top: 10%;
			height: fit-content;
			.product-image-preview {
				max-height: 50px;
				max-width: 50px;
				cursor: pointer;
				border-width: 1px;
				border-style: solid;
				border-color: $background;
				img {
					width: 50px;
					object-fit: contain;
					height: 50px;
				}
			}
			.product-image-carousel {
				max-height: 300px; //500px;
				justify-content: center;
				align-items: center;
				width: 100%;
				display: flex !important;
				img {
					width: auto;
					object-fit: contain;
					object-position: center;
					height: 300px; //500px;
				}
			}
		}
		> .product-info {
			max-width: 60%; //40%;
			width: 100%;
			border-right: 1px solid $grey300;
			padding-right: 1%;
			> h3,
			> h5 {
				margin: 0;
				color: $primaryMain;
				font-style: italic;
				font-weight: 600;
			}
			> .ant-divider {
				margin-block: 15px;
			}
			> .info-dimensions-product {
				margin-top: 20px;
				gap: 30px;
				> h3 {
					font-size: 1.3rem;
				}
				> div {
					align-items: center;
					width: auto;
					justify-content: center;
					position: relative;
					> svg {
						width: 80%;
					}
					> span {
						position: absolute;
						transform: translate(-50%, -50%);
						font-weight: 400;
						font-size: 0.75rem;
					}
					> span:nth-child(2) {
						top: 40%;
						left: 83%;
					}
					> span:nth-child(3) {
						top: 83%;
						left: 70%;
					}
					> span:nth-child(4) {
						top: 83%;
						right: 70%;
					}
				}
			}
			> .info-codes-product {
				margin-top: 20px;
				> h3 {
					font-size: 1.3rem;
				}
				> div {
					justify-content: space-between;
					margin-top: 40px;
					flex-direction: column;
					gap: 15px;
				}
				> :last-child {
					font-size: 0.8rem;
					margin-top: 15px;
				}
			}
		}
		> .buy-product-container {
			width: 100%;
			max-width: 38%; //20%;
			display: inline-block;
			position: relative; // sticky;
			//top: 10%;
			height: fit-content;
			> .buy-product-price-container {
				gap: 30px;
				> .btns-payment-container {
					gap: 10px;
					> :first-child {
						align-items: center;
						gap: 10px;
					}
				}
			}
			.total-sold {
				justify-content: space-between;
				margin-bottom: 10px;
				> :first-child {
					align-items: center;
				}
			}
			.buy-product-price {
				align-items: center;
				width: 100%;
				> h3 {
					margin: 0;
					color: $grey200;
					background-color: $primaryMain;
					padding-block: 3%;
					padding-left: 5%;
					padding-right: 13%;
				}
				> span {
					margin: 0;
					font-size: 1.1rem;
					width: max-content;
					background-color: $grey200;
					padding-block: 2%;
					padding-inline: 5%;
					translate: -20% 0;
				}
			}
			> .guarantees-product-container {
				div {
					gap: 10px;
				}
			}
			> .payment-methods-product-container {
				div {
					> span {
						font-weight: 600;
					}
					> div {
						flex-wrap: wrap;
						gap: 10px;
						img {
							width: 45px;
						}
					}
				}
			}
		}
	}
	> .related-products-container {
		width: 100%;
		overflow: hidden;
		padding-inline: 5%;
		> h3 {
			margin-bottom: 3%;
			padding-left: 2%;
		}
	}
	> .customer-reviews-container {
		padding-inline: 5%;
		padding-bottom: 5%;
		> div {
			position: relative;
			width: 100%;
			padding-inline: 5%;
			flex-direction: column;
			> .global-rating-container {
				background-color: $primaryMain;
				color: $background;
				padding: 2.5%;
				gap: 15px;
				padding-right: 5%;
				height: min-content;
				flex-direction: row; //column;
				> :first-child {
					gap: 20px;
					align-items: center;
					color: $background;
					width: 100%;
					> h1 {
						margin: 0;
						color: inherit;
						font-size: 2rem;
						word-break: keep-all;
					}
					> div {
						align-items: center;
						gap: 5px;
						ul {
							color: inherit;
							font-size: 0.9rem;
						}
						span {
							font-size: 0.8rem;
							color: inherit;
						}
					}
				}
				> :last-child {
					gap: 0px;
					flex-direction: column;
					width: 100%;
					> div {
						align-items: center;
						gap: 10px;
						> :first-child {
							align-items: center;
							gap: 4px;
							span {
								font-size: 0.8rem;
								color: inherit;
							}
						}
					}
				}
			}
			> .featured-reviews-container {
				background-color: $grey200;
				padding-inline: 4%;
				padding-block: 2%;
				//translate: -5% 15%;
				max-width: 100; //70%;
				width: 100%;
				gap: 30px;
				> div {
					gap: 2px;
					> .review-header {
						align-items: center;
						justify-content: space-between;
						ul {
							font-size: 0.8rem;
						}
						span {
							font-size: 0.8rem;
						}
					}
					> .review-info-user {
						align-items: center;
						gap: 5px;
					}
					> .review-comment {
						margin: 0;
						margin-top: 2%;
					}
					> :last-child {
						margin: 0;
						margin-block: 1.5%;
					}
				}
			}
		}
	}
	> :last-child {
		padding-inline: 5%;
	}
}

/*CART STYLES*/
.cart-page {
	padding-block: 4%;
	//padding-inline: 8%;
	width: 100%;
	align-items: center;
	justify-content: center;
	> :first-child {
		width: 100%;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;
		//padding-inline: 8%;
		> .list-cart-container {
			width: 100%;
			max-width: 80%; //70%;
			background-color: $grey200;
			padding: 1.5%;
			margin-block: 20px 50px;
			> h4 {
				padding: 1.5%;
			}
			> :nth-child(2) {
				margin-block: 10px;
			}
		}
		.product-inside-cart-container {
			width: 100%;
			gap: 0px;
			justify-content: space-between;
			border-bottom: 1px solid $grey400;
			padding-block: 4%;
			padding-right: 2%;
			img {
				max-height: 150px;
				width: 100%;
				object-fit: contain;
			}
			> .product-details {
				flex-direction: column-reverse;
				.product-info {
					width: 100%;
					justify-content: space-between;
					> :first-child {
						margin-block: 5px;
						h5 {
							margin: 0;
							font-weight: 400;
						}
						span {
							font-size: 0.8rem;
							font-style: italic;
						}
					}
					> .description-product {
						margin-block: 15px;
						display: none;
					}
					> :nth-child(3) {
						font-size: 0.8rem;
					}
					> .product-actions {
						margin-top: 20px;
						gap: 10px;
						align-items: center;
						flex-wrap: wrap;
						> :first-child {
							width: 100px;
						}
						> a {
							font-size: 0.75rem;
						}
					}
				}
				> :last-child {
					align-self: flex-end;
					span {
						font-weight: bold;
						word-break: keep-all;
						text-decoration: underline;
					}
				}
			}
		}
		> .summary-cart-container {
			width: 100%;
			max-width: 100%; //25%;
			background-color: $primaryMain;
			height: fit-content;
			padding: 3%;
			color: $paper;
			position: sticky;
			bottom: 0;
			> div {
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				> h5 {
					font-size: 0.95rem;
				}
				> h5,
				> span {
					color: inherit;
					margin: 0;
				}
			}
			> .sumary-cart-total {
				padding-block: 1%;
				h2 {
					margin: 0;
					font-size: 1.5rem;
					color: inherit;
				}
			}
			> .promo-code-container {
				border: none;
				color: $background !important;
				& > .ant-collapse-item {
					> .ant-collapse-header {
						padding: 0;
						color: $grey400;
					}
					> .ant-collapse-content {
						background-color: $primaryMain;
						border: none;
						> .ant-collapse-content-box {
							padding: 0;
							margin: 0;
							padding-block: 0.5rem;
							display: flex;
							align-items: center;
							column-gap: 10px;
						}
					}
				}
			}
			> button {
				width: 100%;
				margin-top: 15px;
				margin-bottom: 5px;
			}
		}
	}
}

.empty-cart {
	justify-content: center;
	align-items: center;
	height: 100%;
	> img {
		max-height: 110px;
		width: 100%;
		object-fit: contain;
	}
	> span {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

/*PAYMENT STYLES*/
.payment-page {
	padding-block: 4%;
	padding-inline: 8%;
	width: 100%;
	align-items: center;
	justify-content: center;
	> div {
		width: 100%;
		> :first-child {
			display: none;
		}
	}
	.payment-steps-container {
		min-height: 300px;
		//color: token.colorTextTertiary;
		//background-color: token.colordivider;
		//border-radius: token.borderRadiusLG;
		margin-top: 16px;
		padding: 2%;
	}
	.paypage-step-buttons {
		margin-top: 24px;
	}
	.paypage-addres-form {
		max-width: 100%;
		.paypage-ship-type-container {
			.ant-radio-group {
				width: 100%;
				> div {
					width: 100%;
				}
				.paypage-ship-type {
					width: 100%;
					height: auto;
					.paypage-ship-type-info {
						width: 100%;
						> :first-child {
							align-items: center;
							gap: 5px;
							> h5,
							> span {
								margin: 0;
							}
						}
						> :nth-child(2) {
							margin-block: 1%;
						}
						> :last-child {
							align-items: center;
							gap: 5px;
							margin-top: 1%;
						}
					}
					.paypage-ship-type-price {
						min-width: 15%;
						justify-content: center;
						align-items: center;
						h5 {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	.paypage-payment-form {
		width: 100%;
		.payment-type {
			align-items: center;
			gap: 5px;
		}
	}
	.credit-card-form {
		max-width: 100%;
		> div {
			flex-direction: column-reverse;
		}
		.credit-card-form-container {
			flex-wrap: wrap;
			max-width: 100%; //50%;
			gap: 15px;
			justify-content: space-between;
			padding-right: 30px;
		}
		.credit-card-interactive-container {
			max-width: 100%; //50%;
			width: 100%;
			pointer-events: none;
			> div {
				width: 100%;
				height: 100%;
			}
			.flip-card {
				perspective: 1000px;
				width: 100%;
				height: 100%;
				min-height: 250px;
				transform: translateY(50%);
			}

			.flip-card-inner {
				transition: transform 0.6s;
				transform-style: preserve-3d;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
			}

			.flip-card-front {
				padding: 3%;
				justify-content: space-between;
				> .card-logo {
					justify-content: end;
					width: 100%;
					img {
						width: 50px;
						height: 50px;
					}
					svg {
						width: 50px;
						height: 50px;
					}
				}
				> .card-number {
					width: 100%;
					h3 {
						color: $paper;
					}
				}
				> .card-info {
					width: 100%;
					justify-content: space-between;
					color: $paper;
					> .card-holder,
					> .card-expiry {
						> :first-child {
							color: $grey500;
							font-size: 0.7rem;
						}
						> :last-child {
							color: inherit;
						}
					}
				}
			}

			.flip-card-back {
				position: relative;
				justify-content: space-evenly;
				> .card-sensor {
					width: 100%;
					height: 100%;
					background-color: black;
					min-height: 40px;
					max-height: 40px;
				}
				> .card-cvc {
					width: 100%;
					justify-content: flex-end;
					align-items: flex-end;
					color: $paper;
					padding: 3%;
					gap: 5px;
					> span {
						color: $grey500;
						font-size: 0.7rem;
					}
					> div {
						width: 100%;
						height: 100%;
						background-color: $paper;
						min-height: 30px;
						max-height: 30px;
						color: $darkBackground;
						align-items: center;
						justify-content: flex-end;
						padding-right: 5px;
					}
				}
				> :last-child {
					justify-content: end;
					width: 100%;
					padding: 3%;
					img {
						width: 40px;
						height: 40px;
					}
					svg {
						width: 40px;
						height: 40px;
					}
				}
			}

			.flip-card-front,
			.flip-card-back {
				position: absolute;
				backface-visibility: hidden;
				max-width: 85%;
				width: 100%;
				height: 100%; //70%;
				min-height: 200px;
				background-color: $paper;
				border-radius: 10px;
				transition: all 0.3s ease-in-out;
			}

			.flip-card-back {
				transform: rotateY(180deg);
			}
		}
	}
	.paypal-form {
		max-width: 100%;
	}
	.paypage-check-payment {
		width: 100%;
		justify-content: space-between;
		gap: 50px;
		flex-direction: column-reverse;
		> .summary-container {
			gap: 50px;
			> div {
				gap: 15px;
			}
			> .summary-products {
				> h5 {
					margin: 0;
				}
				> .summary-products-container {
					width: 100%;
					background-color: $grey200;
					padding: 1.5%;
					img {
						width: 80px;
						height: 80px;
						object-fit: cover;
					}
					.summary-product-info {
						width: 100%;
						justify-content: space-evenly;
						margin-left: 10px;
						> div {
							margin: 0;
							font-size: 0.85rem;
						}
					}
				}
			}
			> .summary-shipping {
				> :first-child {
					justify-content: space-between;
					h5 {
						margin: 0;
					}
					span {
						cursor: pointer;
					}
				}
				> .summary-shipping-container {
					width: 100%;
					background-color: $grey200;
					padding: 1.5%;
					> div {
						width: 100%;
						margin-left: 10px;
					}
					.summary-shipping-info {
						width: 100%;
						justify-content: space-evenly;
						margin-left: 10px;
					}
				}
			}
			> button {
				display: block;
			}
		}
		> .purchase-summary {
			max-width: 100%; //30%;
			width: 100%;
			background-color: $grey200;
			padding: 3%;
			position: relative;
			> div {
				position: sticky;
				top: 20%;
				width: 100%;
				> h5 {
					margin: 0;
				}
				> div {
					justify-content: space-between;
				}
				> .summary-disscount {
					justify-content: end;
					align-items: end;
				}
				> button {
					margin-top: 40px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.no-info-overlay {
	width: 100%;
	height: 100%;
	justify-content: start;
	align-items: center;
	gap: 1;
	grid-column: span 3;
}

@keyframes rotateGradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

@media screen and (min-width: 576px) {
	.main-category {
		> div {
			flex-direction: row;
			> .list-products-container {
				width: 80%;
			}
		}
	}

	.aside-menu-category {
		display: block;
	}
	.movile-menu-category {
		display: none;
	}
	.modal-menu-list {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50%;
		position: relative;
		overflow-y: hidden;
		padding-top: 40px;
		gap: 30px;
	}
	.cardItemCarousel {
		grid-template-columns: repeat(auto-fill, minmax(20%, 23%));
	}
}

/* @media screen and (max-width: 576px) {
	.cardItemCarousel {
		display: grid !important;
		grid-template-columns: 1fr 1fr;
		place-items: start;
		justify-content: space-around;
		gap: 30px;
		padding-block: 3%;
		padding-inline: 2%;
	}
} */
