// color variants
@import 'themes-vars.module.scss';

// Custom Scroll Bar

.other-scrollbar::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.other-scrollbar::-webkit-scrollbar-track {
	background: $background;
}
::-webkit-scrollbar-track {
	background: $background;
}

/* Handle */
.other-scrollbar::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb {
	background: $grey400;
	border-radius: 4px;
	transition: background 0.3s ease-in-out;
}

/* Handle on hover */
.other-scrollbar::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}
::-webkit-scrollbar-thumb:hover {
	background: $grey500;
}

.shadow-img-menu {
	box-shadow: 10.8px 10.6px 15.3px rgba(0, 0, 0, 0.01), 36.2px 35.7px 51.4px rgba(230, 5, 5, 0.029), 162px 160px 230px rgba(0, 0, 0, 0.04);
}

.cardItemCarousel {
	display: grid !important;
	grid-template-columns: repeat(auto-fill, minmax(20%, 23%));
	place-items: start;
	justify-content: space-around;
	gap: 15;
	padding-block: 3%;
}

.slick-prev,
.slick-next {
	color: black !important;
	background-color: $paper !important;
	padding-inline: 15px !important;
	padding-block: 15px !important;
	border: 1px solid black !important;
}

.slick-prev {
	left: 1% !important;
}

.slick-next {
	right: 1% !important;
}

.slick-next::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 20% !important;
	inset-block: 30% !important;
}

.slick-prev::after {
	border: 0 solid;
	border-inline-width: 3px 0 !important;
	border-block-width: 3px 0 !important;
	inset-inline: 40% !important;
	inset-block: 30% !important;
}

.primary-button {
	color: white;
	cursor: pointer;
	font-size: 13px;
	letter-spacing: 0.05rem;
	border: 1px solid $darkPaper;
	padding: 0.5rem 2rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %230a369d /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
	background-color: $darkPaper;
	background-size: 200%;
	background-position: 200%;
	background-repeat: no-repeat;
	transition: 0.3s ease-in-out;
	transition-property: background-position, border, color;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;
}

.primary-button:hover {
	border: 1px solid $primaryMain;
	color: white;
	background-position: 40%;
}

.primary-button:before {
	content: '';
	position: absolute;
	background-color: $darkPaper;
	width: 0.2rem;
	height: 0.2rem;
	top: -1px;
	left: -1px;
	transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
	background-color: white;
}

.primary-button:hover:after {
	background-color: white;
}

.primary-button:after {
	content: '';
	position: absolute;
	background-color: $primaryMain;
	width: 0.3rem;
	height: 0.3rem;
	bottom: -1px;
	right: -1px;
	transition: background-color 0.15s ease-in-out;
}

.button-borders {
	margin-top: 40px;
	position: relative;
	width: fit-content;
	height: fit-content;
}

.button-borders:before {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	top: -0.3em;
	border: 1px solid $darkPaper;
	border-bottom: 0px;
	/* opacity: 0.3; */
}

.button-borders:after {
	content: '';
	position: absolute;
	width: calc(100% + 0.5em);
	height: 50%;
	left: -0.3em;
	bottom: -0.3em;
	border: 1px solid $darkPaper;
	border-top: 0px;
	/* opacity: 0.3; */
	z-index: 0;
}

.shape {
	fill: $primaryMain;
}

.ant-radio-group {
	.ant-radio-button-wrapper {
		background-color: #fff;
	}
	.ant-radio-button-wrapper-checked {
		background-color: $primaryLight !important;
		color: $grey900 !important;
	}
}

.big-card-item {
	position: relative;
	background-color: $paper;
	min-height: 310px;
	height: 100%;
	width: 100%;
	max-width: 40%;
	border: 2px solid;
	border-color: $paper;
	cursor: pointer;
	padding: 10px;
}

.priceUnderline::before {
	content: '';
	background-color: red;
	border-top: 1px solid red;
}

.shadow-menu-subcategory {
	box-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.004), 3.4px 3.4px 3.5px rgba(0, 0, 0, 0.006), 5.8px 5.8px 5.9px rgba(0, 0, 0, 0.008), 8.7px 8.7px 8.9px rgba(0, 0, 0, 0.009),
		12.5px 12.5px 12.8px rgba(0, 0, 0, 0.01), 17.7px 17.7px 18.1px rgba(0, 0, 0, 0.011), 25.1px 25.1px 25.6px rgba(0, 0, 0, 0.012), 36.5px 36.5px 37.2px rgba(0, 0, 0, 0.014),
		56.3px 56.3px 57.4px rgba(0, 0, 0, 0.016), 100px 100px 102px rgba(0, 0, 0, 0.02);
}

.hoverProductSearching:hover {
	cursor: pointer;
	background-color: #c8d2de;
}

.hoverProductSearching:hover #titleProductSearch {
	color: $primaryMain;
}

.shadow-cart-cards {
	box-shadow: 1.6px 1.6px 0.6px rgba(0, 0, 0, 0.006), 3.4px 3.4px 1.3px rgba(0, 0, 0, 0.009), 5.8px 5.8px 2.1px rgba(0, 0, 0, 0.011), 8.7px 8.7px 3.2px rgba(0, 0, 0, 0.013),
		12.5px 12.5px 4.6px rgba(0, 0, 0, 0.015), 17.7px 17.7px 6.6px rgba(0, 0, 0, 0.017), 25.1px 25.1px 9.3px rgba(0, 0, 0, 0.019), 36.5px 36.5px 13.5px rgba(0, 0, 0, 0.021),
		56.3px 56.3px 20.8px rgba(0, 0, 0, 0.024), 100px 100px 37px rgba(0, 0, 0, 0.03);
}

.shadow-card-payment {
	box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
		41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.class {
	& > .ant-collapse-item {
		> .ant-collapse-header {
			padding: 0;
			color: $grey400;
		}
		> .ant-collapse-content {
			background-color: $primaryMain;
			border: none;
			> .ant-collapse-content-box {
				padding: 0;
				margin: 0;
				padding-block: 0.5rem;
				display: flex;
				align-items: center;
				column-gap: 10px;
			}
		}
	}
}

.visa-bg-card {
	background-image: radial-gradient(circle at center center, $visaColor, $visaColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $visaColor, 80px, $primaryDark 192px, $visaColor 71px);
	background-blend-mode: multiply;
	background-color: $visaColor;
}

.mc-bg-card {
	background-image: radial-gradient(circle at center center, $mastercardColor, $mastercardColor),
		repeating-radial-gradient(circle at center bottom, $visaColor, $mastercardColor, 80px, $mastercardColorLight 192px, $mastercardColor 71px);
	background-blend-mode: multiply;
	background-color: $mastercardColor;
}

.amex-bg-card {
	background-image: radial-gradient(circle at center center, $amexColor, $amexColor),
		repeating-radial-gradient(circle at center bottom, $amexColor, $amexColor, 80px, $amexColorLight 192px, $amexColor 71px);
	background-blend-mode: multiply;
	background-color: $amexColor;
}

.default-bg-card {
	background-image: radial-gradient(circle at center center, $grey600, $grey600), repeating-radial-gradient(circle at center bottom, $grey500, $grey500, 80px, $grey600 192px, $grey500 71px);
	background-blend-mode: multiply;
	background-color: $grey600;
}
